*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
section{
    height: 100vh;
    width: 100%;
}
.sec1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url("../img/css_bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    display: grid;
    place-items: center;
}
.head1{
    font-size: 60px;
}

.sec2{
    background: linear-gradient(135deg, rgb(48, 6, 95) , rgb(92, 12, 94));
    padding: 50px;
    color:lawngreen;
}

h3{
	color:lawngreen;
}

ul li{
    list-style-type: none;
}